.size-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 63px;
    height: 45px;
    border: 1px solid #1D1F22;
    margin: 12px 12px 0 0 ;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.size-container:hover {
    cursor: pointer;
    opacity: 0.7;
}