.size-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: clamp(63px, 63px, 100px);
    min-height: 45px;
    border: 1px solid #1D1F22;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1D1F22;
}

.size-container-modal {
    /*TODO Change font*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    min-width: 24px;
    max-width: 43px;
    min-height: 24px;
    border: 1px solid #1D1F22;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
    color: #1D1F22;
}

.size-container:hover,
.size-container-modal{
    cursor: pointer;
    opacity: 0.7;
}

.size-text-active {
    background: #1D1F22;
    color: white;
    border: 1px solid #1D1F22;
}

.size-text-disabled {
    border: 1px solid #A6A6A6;
    color: #A6A6A6;
}

.size-color {
    color: transparent;
    box-shadow: 0 0 5px 0 grey;
    border: 0;
}

.size-color-active {
    color: transparent;
    box-shadow: 0 0 5px 2px grey;
    border: 0;
}


