* {
    box-sizing: border-box;
}

.default-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.default-content {
    /*background: lightgrey;*/
    max-width: 1440px;
    padding: 0 100px;
    width: 100%;
}