* {
    box-sizing: border-box;
}

.product-a {
    position: relative;
    text-decoration: none;
    padding: 16px;
}

.product {
    display: flex;
    position: relative;
    flex-direction: column;
    text-decoration: none;
}

.product-a:hover{
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
}

.product-a:hover .product-cart-image {
    transition: 250ms;
    background: #5ECE7B;
    box-shadow: none;
    opacity: 1;
}

.product-image {
    position: relative;
    background: white;
    margin-bottom: 24px;
    padding: 0 0 95% 0;
    /*overflow: hidden;*/
}

.product-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.out-of-stock {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 50%;
}

.out-of-stock-title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(141, 143, 154, 1);
    opacity: 1;
}

.product-cart-image {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background: #5ECE7B;
    bottom: -26px;
    right: 16px;
    border-radius: 26px;
    text-decoration: none;
    transition: 250ms;
}


.product-cart-image:hover {
    transform: scale(1.1);
}

.product-name {
    margin: 0;
    color: #1D1F22;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
}

.product-price {
    margin: 0;
    color: #1D1F22;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.product-info {
    position: relative;
}