* {
    box-sizing: border-box;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;
    background: #FFFFFF;
}

.header-container > * {
    width: 100%;
}

.header-category {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #1D1F22;
    padding: 32px 16px;
    text-decoration: none;
    cursor: pointer;
}

.header-category-active {
    color: #5ECE7B;
    font-weight: 600;
    border-bottom: 2px solid #5ECE7B;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px
}

.header-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6em;
    gap: 8px;
}

.header-button:hover {
    opacity: .7;
    cursor: pointer;
}

.header-currency-image {
    display: flex;
    margin-top: 4px;
}

.header-cart-container {
    position: absolute;
    left: 0;
    top: 80px;
    height: calc(100vh - 78px);
    width: 100%;
    background: rgba(57, 55, 72, 0.22);
    z-index: 200;
}

.header-cart-container-currency {
    position: absolute;
    left: 0;
    top: 80px;
    height: calc(100vh - 78px);
    width: 100%;
    z-index: 200;
}

.header-cart-button-container {
    position: relative;
}

.header-cart-amount {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    padding-top: 2px;
    top: -8px;
    right: -6px;
    border-radius: 10px;
    background: #1D1F22;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

#header-cart {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 325px;
    max-height: 575px;
    overflow: auto;
    right: 0;
    top: 80px;
    padding: 8px 16px 16px;
    background: #FFFFFF;
    z-index: 1000;
}

.cart-title-container {
    margin-bottom: 25px;
}

.cart-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6em;
    color: #1D1F22;
}

.cart-number-items {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6em;
    color: #1D1F22;
}

.cart-total-price {
    margin-bottom: 35px;
}

.cart-total-price,
.cart-buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.cart-buttons-container > * {
    width: 100%;
}

.cart-total-price-title {
    /*TODO Change font and weight*/
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    color: #1D1F22;
}

.cart-total-price-amount {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    color: #1D1F22;
}

.button-view-bag {
    background: transparent;
    min-height: 43px;
    border: 1px solid #1D1F22;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #1D1F22;
}

.button-check-out {
    background: #5ECE7B;
    color: white;
    border: 0;
    min-height: 43px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
}

.button-check-out:hover,
.button-view-bag:hover {
    cursor: pointer;
    opacity: 0.7;
}

#header-currency {
    position: absolute;
    width: 124px;
    min-height: 32px;
    padding: 20px;
    top: 50px;
    right: -10px;
    box-shadow: 0 4px 35px 0 #A8ACB030;
    z-index: 1000;
}

.header-currency-container {
    display: flex;
    flex-direction: column;
}

.header-currency-button {
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    line-height: 1.6em;
}

.header-currency-button:hover {
    cursor: pointer;
    opacity: 0.7;
}