* {
    box-sizing: border-box;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;
    background: #FFFFFF;
}

.header-container > * {
    width: 100%;
}

.header-category {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #1D1F22;
    padding: 32px 16px;
    text-decoration: none;
}

.header-category:focus, .header-category:active{
    color: #5ECE7B;
    font-weight: 600;
    border-bottom: 2px solid #5ECE7B;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px
}

.header-button {
    background: transparent;
    border: none;
    outline: none;
}

.header-button:hover {
    opacity: .7;
    cursor: pointer;
}

.header-cart-container {
    position: absolute;
    left: 0;
    top: 80px;
    height: calc(100vh - 78px);
    width: 100%;
    background: rgba(57, 55, 72, 0.22);
    z-index: 200;
}

#header-cart {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 540px;
    right: 0;
    top: 80px;
    background: #FFFFFF;
    overflow: auto;
    z-index: 1000;
}