.cart-product-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #E5E5E5;
}

.cart-product-container-modal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.cart-product-name-1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 16px 0;
}

.cart-product-name-modal {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.6em;
}

.cart-product-name-2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 0 0 12px 0;
}

.cart-product-price {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.cart-product-price-modal {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    line-height: 1.6em;
}

.cart-product-left-side-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-product-sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
}

.cart-product-sizes-modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.cart-product-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.cart-product-count {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.cart-product-count-modal {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6em;
}

.cart-product-button {
    background: white;
    border: 1px solid rgba(29, 31, 34, 1);
    font-size: 30px;
    height: 45px;
    width: 45px;
}

.cart-product-button-modal {
    background: white;
    border: 1px solid #1D1F22;
    font-size: 20px;
    height: 24px;
    width: 24px;
}

.cart-product-button:hover,
.cart-product-button-modal:hover {
    cursor: pointer;
    opacity: 0.5;
}


.cart-product-right-side {
    display: flex;
}

.cart-product-image-container {
    width: 141px;
    background: white;
}

.cart-product-image-container-modal {
    width: 105px;
    height: 137px;
    background: white;
}

.cart-product-image {
    position: relative;
    margin-left: 12px;
}

.cart-product-image-modal {
    position: relative;
    margin-left: 10px;
}

.cart-product-left-slide {
    position: absolute;
    color: white;
    top: calc(50% - 6px);
    bottom: 50%;
    left: 9px;
}

.cart-product-right-slide {
    position: absolute;
    color: white;
    top: calc(50% - 6px);
    bottom: 50%;
    right: 9px;
}

.cart-product-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}